
:root {
  /* Paleta de Cores */
  --primary-dark: #1c1717;
  --secondary-dark: #372f2f;
  --primary-light: #c6bebe;
  --secondary-light: #e5e1e1;

  /* Tipografia */
  --font-base: "Work Sans", sans-serif;
  --font-title: 700;
  --font-subtitle: 600;
  --font-medium: 500;
  --font-light: 300;
}

*{
    font-family: var(--font-base);
}

body{
  background-color: var(--secondary-light);
  z-index: 5;
}